.line1{
  border-top:1px solid #8cd2c7;
  width:100%;
}
.line2{
  border-top:1px solid #f79eb4;
  width:100%;
}
.line3{
  border-top:1px solid #e5ca55;
  width:100%;
}
.a{
  color: #8cd2c7;
}
.b{
  color: #f79eb4;
}
.c{
  color: #e5ca55;
}
.d{
  color: #000;
}

.btn-1{
  background-color: #8cd2c7
}
.btn-2{
  background-color: #f79eb4
}
.btn-x{
  background-color: #8cd2c7
}
.btn-y{
  background-color: #f79eb4
}
.btn-z{
  background-color: #e5ca55
}
.q{
  text-indent:2rem;
}

a:hover{color: #c4c4c4;}
nav{
  background-color: #369690;
}

footer{
  background-color: #369690;
  color:#ffffff;
  padding-top: 2rem;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.carousel-caption{
  background:  #000;
  opacity: 0.7;
  color:#fff;
}
